.bordered {
  border-right: 1px solid $color-grey;
}
.centered{
  margin: 0 !important;
}
@media only screen and (max-width: 770px) {
  .bordered {
      border-right: 0 !important;
  }
}
@media only screen and (max-width: 520px) {
  h1 {
      font-size: 1.3em;
  }
}
