:root {
    --primary-bg: #273b82;
}
::-webkit-scrollbar {
    background: #fff;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--primary-bg);
}
.description {
    background-color: var(--primary-bg);
    padding-bottom: 20em !important;
}
.skills {
    margin-top: -14em;
}

.bordered {
    border-right: 1px solid #ccc;
}
.centered{
    margin: 0 !important;
}
.is-skill-icon {
    color: var(--primary-bg);
}
.projects figure {
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    height: 160px;
}
.projects figure img {
    object-fit: cover;
    height: 100%;
    transition: .3s linear;
    width: 100%;
    position:  absolute;
}
.projects figure figcaption {
    position: absolute;
    top: 0;
    background: #192a56;
    opacity: 0;
    transition: .3s linear;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    flex-direction: column;
}
.projects figure:hover figcaption {
    opacity: 1;
}
.projects figure:hover img {
    transform: scale(1.2)
}
footer {
    background: var(--primary-bg);
}
.contact {
    padding: 15px 0;
}
.contact a:hover {
    color: aqua;
}
.social-icons {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.social-icons a {
    margin: 0 10px;
    border: 2px solid #ddd;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .3s;
    color: #fff;
}
.social-icons a:hover {
    color: var(--primary-bg);
    background: #fff;
    border: 2px solid #fff;
}
@media only screen and (max-width: 770px) {
    .bordered {
        border-right: 0 !important;
    }
}
@media only screen and (max-width: 520px) {
    h1 {
        font-size: 1.3em;
    }
}
