@import 'lib/variables';
@import 'lib/mixins';
@import 'description';
@import 'projects';
@import 'footer';
@import 'utilities';

::-webkit-scrollbar {
    width: 7px;
    background: $color-white;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: $color-primary;
}
