@import './variables';
@import './description';
@import './projects';
@import './footer';

::-webkit-scrollbar {
    width: 7px;
    background: $color-white;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: $color-primary;
}

.bordered {
    border-right: 1px solid $color-grey;
}
.centered{
    margin: 0 !important;
}
@media only screen and (max-width: 770px) {
    .bordered {
        border-right: 0 !important;
    }
}
@media only screen and (max-width: 520px) {
    h1 {
        font-size: 1.3em;
    }
}
