footer {
  background: var(--primary);
  color: var(--white);
  padding: 40px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer > div {
  padding-top: 20px;
  border-left: 1px solid #fff;
  padding-left: 40px;
}
footer > div > h4 {
  margin-bottom: 12px;
  color: var(--brand);
  margin-top: 0;
  font-size: 18px;
  padding: 0 3px;
}
.Brand {
  border: 0;
}
.Brand img {
  width: 80px;
  margin-bottom: 10px;
}
.Brand h4 {
  margin: 2px 0;
  font-size: 24px;
  padding: 0;
}
.Brand strong {
  color: var(--gray);
  font-size: 15.6px;
}
.Menu ul {
  flex-direction: column;
}
.Menu ul li {
  padding: 0;
  padding-top: 10px;
}
.Menu ul li a {
  font-size: 15px;
  padding: 0 3px;
  padding-bottom: 2px;
  transition: 0.4s;
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  border-bottom: 2px solid transparent;
}
.Menu ul li a:hover {
  border-color: var(--brand);
}
.mail a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  font-weight: 15px;
}

.mail a:hover {
  color: var(--brand-light);
}
