.Heading {
  padding: 120px 50px;
  box-sizing: border-box;
  background: url("../assets/hero.jpg");
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  color: var(--white);
}
