.Navigator {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: var(--white);
}
.Navigator a {
  text-decoration: none;
  color: var(--white);
  padding: 0 2px;
  margin-bottom: 2px;
  font-weight: 600;
}

.Navigator a.active {
  border-bottom: 2px solid var(--brand);
}

.Right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Right img {
  margin-right: 15px;
  width: 55px;
  height: 40px;
  object-fit: cover;
}

.Right div h4,
.Right div p {
  margin: 0;
}

.Right div h4 {
  font-weight: 400;
}
.Right div p {
  font-weight: 600;
  color: var(--gray);
}
