:root {
  --primary: #204e5f;
  --secondary: #ff8984;
  --light: #273b82;
  --brand: #00d1b2;
  --brand-light: #08bdeb;
  --warn: #f6d55c;
  --white: #edf7f5;
  --gray: #b7d7d8;
  --fontFamily: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--light);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.7);
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
}
